<%= form_for @art_piece, :html => {:multipart => true} do |f| %>
  <% if @art_piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art_piece.errors.count, "error") %> prohibited this art_piece from being saved:</h2>

      <ul>
      <% @art_piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="image_area">
    <div>
      <%= image_tag @art_piece.image_url(:thumb).to_s %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="field">
    <%= f.label 'Artist:' %>
    <%= f.collection_select(:artist_id, Artist.all, :id, :name, :prompt => 'Please select artist') %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :media %>
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, :value => (number_with_precision(f.object.price, :precision => 2) || 0), class: 'numeric_input' %>
  </div>

  <div class="field_group">
    <div class="field">
      <%= f.check_box :needs_label %>
      <%= f.label :needs_label %>
    </div>
    <div class="field">
      <%= f.check_box :currently_hanging %>
      <%= f.label "Currently Hanging?" %>
    </div>
  </div>
  <div class="field_group">
    <div class="field">
      <%= f.label :momo_percent %>
      <%= f.number_field :momo_percent, class: 'numeric_input' %>
    </div>
    <div class="field">
      <%= f.label :artist_percent %>
      <%= f.number_field :artist_percent, class: 'numeric_input' %>
    </div>
    <div class="field">
      <%= f.label :other_percent %>
      <%= f.number_field :other_percent, class: 'numeric_input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

